@model PublicStorefront.Models.ItemListViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron tron-image-home">
    <div class="tron-text">
        <h1>Welcome to Public Storefront!</h1>
    </div>
</div>

<div class="row">
    @foreach (var item in Model.Items)
    {
        @Html.Partial("ItemSummary", item)
    }
</div>

<div>
    @Html.PageLinks(Model.PagingInfo, page => Url.Action("Index", new { page }))
</div>