@model PublicStorefront.Models.ItemListViewModel

    <div class="storefront-body">
        <div class="jumbotron jumbotron-fluid tron-image-outdoor">
            <div class="container">

            </div>
        </div>
        <h1 class="display-3">Outdoor</h1>
        <div class="row">
            @foreach (var item in Model.Items)
            {
                @Html.Partial("ItemSummary", item)
            }
        </div>

        <div>
            @Html.PageLinks(Model.PagingInfo, page => Url.Action("Outdoor", new { page }))
        </div>
    </div>