@model Vidly.Models.Customer
@{
    ViewBag.Title = "Details";
}

<h3 class="display-3">@Model.Name</h3>
<dl>
    <dt>Membership Type</dt>
    <dd>@Model.MembershipType.Name</dd>
    @if (Model.Birthdate != null)
    {
        <dt>Birthday</dt>
        <dd>@Model.Birthdate</dd>
    }
</dl>