body {
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error,
label.error{
    color: red;
}

.input-validation-error,
input.error{
    border: 2px solid red;
}
