@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Vidly</h1>
    <p class="lead">Video sharing community</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
    </div>
    <div class="col-md-4">
        <h2>Cool stuff</h2>
    </div>
</div>