@model List<Vidly.Models.Customer>
@{
    ViewBag.Title = "Viewers";
}

<h2>Viewers</h2>
@if (Model.Count > 0)
{
    foreach (var viewer in Model)
    {
        <div class="card">
            <div class="card-title">
                @Html.ActionLink(viewer.Name, "Details", "Home", new { id = viewer.Id }, null)
            </div>
        </div>
    }
}
else { 
<div class="card">
    <div class="card-title">
        There are currently no viewers
    </div>
</div>
}